<%- include('partials/header') -%>

<!-- ADDED -->
<div class="container col-xxl-8 px-4 py-5 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/main-photo.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">A Bibliophile's Community</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, nam distinctio ex dignissimos aspernatur quas!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup for Stacks
          </a> -->
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
  <!-- Hero section -->
  <!-- Basic info & Value statement with smiling image on left -->
  <!-- Button to Teachers & button to Parents -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Bringing Generations<br>of Readers Together</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ullam ipsa nobis officiis rerum pariatur? Ipsa dolores ex aspernatur, dignissimos non praesentium consequuntur, unde aperiam obcaecati molestias ratione numquam delectus.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus aliquid cum nulla illo iste a earum natus vitae neque, consequatur architecto eaque impedit at perspiciatis accusamus? Animi, repudiandae laboriosam.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sit illum molestias eveniet libero.</p>
          <!-- <a class="btn greyRoundButton btn-lg" href="/signup">Sign Up Now</a> -->
        </div>
        <div class="col img-col">
          <img src="../imgs/carousel3.jpeg" alt="Reading Book" class="img-fluid" width="400" height="400"/>
        </div>
      </div>
      <div class="row cards" style="margin: 8rem 0 4rem 0">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/stacks-logo.png" alt="Service One" class="icon" />
              <h5 class="card-title">Reading Challenges</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore reiciendis unde natus consequatur.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/stacks-logo.png" alt="Service Two" class="icon" />
              <h5 class="card-title">Best Books of 2022</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos dolore, sunt iste laborum doloremque rem illo labore aspernatur.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="../imgs/stacks-logo.png" alt="Service Three" class="icon" />
              <h5 class="card-title">Communities</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nesciunt ad quae, labore explicabo quidem omnis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero section -->

  <!-- About Us Section -->
  <section id="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img src="../imgs/carousel4.jpeg" alt="About Us" class="img-fluid" width="400" height="200"/>
        </div>
        <div class="col">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cum recusandae veniam saepe fugit quisquam natus nulla tempora voluptates eligendi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aperiam doloribus ducimus ipsam ullam ex accusamus. Pariatur laboriosam nesciunt perferendis rerum vel eius assumenda officia at. Facilis est atque illo.</p>
          <!-- <a class="btn greyRoundButton btn-lg" href="/#contact">Contact Us</a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="container">
      <div class="row align-items-center projects">
        <div class="col">
          <h2>What Our Community Is Saying</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi numquam illo saepe velit veniam pariatur repellat illum amet molestias animi nihil:</p>
        </div>
      </div>
      <!-- Testimonials -->
      <div class="row align-items-center">
        <!-- Testimonial 1 -->
        <div class="col">
          <div class="card mb-3" style="height: 20rem">
            <div class="row">
              <div class="col">
                <img src="../imgs/reader1.jpeg" class="img-fluid" alt="Kasey S.">
              </div>
              <div class="col">
                <h5 class="card-title">Lorem</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nihil nostrum suscipit atque magni, rem dolorum doloremque fuga.</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis officiis tenetur fugit sint facere ipsa, itaque veniam pariatur.</p>
                <p class="card-text"><small class="text-muted">Kasey S.</small></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Testimonial 1 -->
        <!-- Testimonial 2 -->
        <div class="col">
          <div class="card mb-3" style="height: 20rem">
            <div class="row">
              <div class="col">
                <img src="../imgs/reader2.jpeg" class="img-fluid" alt="Lauren M.">
              </div>
              <div class="col">
                <h5 class="card-title">Lorem</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iste rem mollitia pariatur asperiores tempore.</p>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, quasi unde sit quaerat delectus sunt fuga quos dolor.</p>
                <p class="card-text"><small class="text-muted">Lauren M.</small></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Testimonial 2 -->
      </div>
      <!-- End Testimonials -->
      <!-- <div class="row">
        <a class="btn greyRoundButton btn-lg" href="/signup">Sign Up Now</a>
      </div> -->
    </div>
  </section>
  <!-- End Projects Section -->

    <!-- Contact Us -->
    <section id="contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus et tempora sit, inventore aperiam! Laudantium praesentium, sapiente aperiam eaque quaerat.</p>
            <a href="mailto:celia.bruner12@gmail.com?subject=Stacks Inquiry">Email Us</a>
          </div>
        </div>
  
      </div>
    </section>
    <!-- End Contact Us -->


<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main> -->
    

<%- include('partials/footer') -%>